form#commentForm(method = 'POST' action='/vapeshop/' + vapeshop.id + "/comments")
    div
        input#comment-text(type = 'area' placeholder = 'your comment' name = 'text')
    div#add-comment Add comment