h4 Login to your account
form(action='/login' method='post' align='right')
    fieldset
        input(type='email' name='username' placeholder='Your Email')
        input(type='password' name='password' placeholder='Your Password')
        button(type='submit') Login
        a(href="/registration") Registrate