h4 Register your account
form(action='/register' method='post')
    fieldset
        input(type='email' name='email' placeholder='Your Email')
        input(type='password' name='password' placeholder='Your Password')
        input(name='name' placeholder='Your name')
        button(type='Register') Registrate