extends ../layout

block content
    form(method = 'POST' action='/vapeshop/' + vapeshop.id + '?_method=PUT')
        input(type = 'hidden' name = '_method' value = 'patch')
        div
            input#name(type = 'text' placeholder = 'vapeshop name' name = 'name' value = vapeshop.name)
        div
            input#description(type = 'text' placeholder = 'vapeshop description' name = 'description' value = vapeshop.description)
        if vapeshop.Location
            div
                input#address(type = 'text' placeholder = 'vapeshop address' name = 'address' value = vapeshop.Location.address)
            div
                input#lat(type = 'text' placeholder = 'vapeshop lat' name = 'lat' value = vapeshop.Location.lat)
            div
                input#lng(type = 'text' placeholder = 'vapeshop lng' name = 'lng' value = vapeshop.Location.lng)
        div
            button(type = 'submit') Update vapeshop