extends ../layout


block content

        div.col-xs-12.col-md-8.col-lg-8
            if currentUser
                a(href="/vapeshops/new" class="pull-right") Add vapeshop
            div.col-xs-12.col-md-12.col-lg-12#vapeshops-list
                each  vapeshop in vapeshops
                    div(class="col-xs-12 col-md-4 col-lg-4"
                        data-location-lat=vapeshop.Location.lat
                        data-location-lng=vapeshop.Location.lng)
                        h1
                            a(href="/vapeshop/"+vapeshop.id size='7')= vapeshop.name
                        p= vapeshop.description
        div.col-xs-12.col-md-4.col-lg-4
            include ../shared/map