extends ../layout

block content
    form(method = 'POST' action='/vapeshops')
        div
            input#name(type = 'text' placeholder = 'vapeshop name' name = 'name')
        div
            input#description(type = 'text' placeholder = 'vapeshop description' name = 'description')
        div
            input#addres(type = 'text' placeholder = 'address of vapeshop' name = 'address')
        div
            input#lng(type = 'text' placeholder = 'lng of your vapeshop' name = 'lng')
        div
            input#lat(type = 'text' placeholder = 'lat of your vapeshop' name = 'lat')
        div
            button(type = 'submit') Add vapeshop